# Environment Configuration
NODE_ENV="development"   # Options: 'development', 'production'
DEPLOY_ENV="development" # Options: 'development', 'staging', 'production'
PORT="8080"              # The port your server will listen on
HOST="localhost"         # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"                 # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20"                # Max number of requests per window per IP
SERVICE_AMAZON_USER_URL="https://amazon.com"       # The base url for the amazon user api
SERVICE_WEATHER_URL="https://api.example.com"      # The base url for the weather api
SERVICE_WEATHER_SECRET="xxxxxxxx-xxxx-xxxx-xxxxxx" # The api key for the weather api
